.page-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* background-color: #0055b8; */
    background-image: linear-gradient(to bottom, rgba(0, 85, 184, 1), rgba(0, 85, 184, .66));
    direction: rtl;
}

.loadding-container {
    width: 240px;
    height: 240px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: #fff;
    border-radius: 50%;
}

#logo {
    top: 46%;
    width: 130px;
    fill: #0055b8;
    position: absolute;
}

.spinner-border {
    display: inline-block;
    width: 14rem;
    height: 14rem;
    vertical-align: text-bottom;
    border: .25em solid #0055b8;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border 3s linear infinite;
    animation: spinner-border 3s linear infinite;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 60px;
    text-align: center;
}

.spinner>div {
    width: 9px;
    height: 9px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    background-color: #fff;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background-color: #fff;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.text-21 {
    font-size: 21px;
}